/* Soluzione qui */

/* mobile first*/

/*tablet: da 768px */
@media screen and ( min-width:768px ){
    #topbar {
        justify-content: flex-start;
        
    }

    main {
        padding: 30px;
    }

    .recipe-origin {
        display: inline-block;
    }
    
    .recipe-name {
        font-size: 2rem;
    }

    .quick-notes ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .quick-notes li{
        flex-basis: 33%;

    }

    .social-networks button {
        padding-inline: 60px;

    }

    .ads {
        display: block;
    }

    .presentation img {
        float: left;
        margin-right: 10px;
        margin-top: 10px;
    }

}

/*desktop: da 992px */
@media screen and( min-width:992px ){
    .recipe-name {
        font-size: 3rem;
    }

    .social-networks button {
        padding-inline: 100px;

    }

    .social-networks .label {
        display: block; 
    }
}

